@font-face {
    font-family: 'fightingspirit-regular';
    src: url('../fonts/fighting_spirit-webfont.eot');
    src: url('../fonts/fighting_spirit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fighting_spirit-webfont.woff') format('woff'),
         url('../fonts/fighting_spirit-webfont.ttf') format('truetype'),
         url('../fonts/fighting_spirit-webfont.svg#fighting_spirit_tbsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fightingspirit-bold';
    src: url('../fonts/fighting_spirit_bold-webfont.eot');
    src: url('../fonts/fighting_spirit_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fighting_spirit_bold-webfont.woff') format('woff'),
         url('../fonts/fighting_spirit_bold-webfont.ttf') format('truetype'),
         url('../fonts/fighting_spirit_bold-webfont.svg#fighting_spirit_tbsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}