p, h1, h2, h3, h4, h5 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', Sans-Serif;
}

p {
	font-size: 100%;
	line-height: 1.6em;
	margin: 1.6em 0;
}

h1, h2, h3, h4 {
	a {
		color: $dark-grey;
		transition: color 0.3s ease;
	}
	a:hover {
		color: $electric !important;
	}
}

h1 {
	font-size: 200%;
	line-height: 1.4em;
}
h2 {
	font-size: 180%;
}
h3 {
	font-size: 160%;
}
h4 {
	font-size: 140%;
}
h5 {
	font-size: 120%;
}
a {
	color: $electric;
	text-decoration: none;
}
em, i {
	font-style: italic;
}
strong, b {
	font-weight: 700;
}