/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
 * Simple CSS grid system. You can show the layout
 * when working by adding the show class to get a clearer
 * picture.
 */
/* line 6, ../sass/_grid.scss */
.g-container {
  width: 100%;
  height: 100%;
}

/* line 10, ../sass/_grid.scss */
.g-container-autoheight {
  width: 100%;
}

/* line 13, ../sass/_grid.scss */
.g-row {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
/* line 17, ../sass/_grid.scss */
.g-row.slim {
  margin: 0;
}
/* line 20, ../sass/_grid.scss */
.g-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, ../sass/_grid.scss */
.g-col {
  height: auto;
  min-height: 1px;
  display: inline-block;
  float: left;
  padding-right: 20px;
  transition: width 0.5s ease;
}
/* line 33, ../sass/_grid.scss */
.g-col.one {
  width: 8.33%;
}
/* line 36, ../sass/_grid.scss */
.g-col.two {
  width: 16.667%;
}
/* line 39, ../sass/_grid.scss */
.g-col.three {
  width: 25%;
}
/* line 42, ../sass/_grid.scss */
.g-col.four {
  width: 33.33%;
}
/* line 45, ../sass/_grid.scss */
.g-col.five {
  width: 41.667%;
}
/* line 48, ../sass/_grid.scss */
.g-col.six {
  width: 50%;
}
/* line 51, ../sass/_grid.scss */
.g-col.seven {
  width: 58.33%;
}
/* line 54, ../sass/_grid.scss */
.g-col.eight {
  width: 66.667%;
}
/* line 57, ../sass/_grid.scss */
.g-col.nine {
  width: 75%;
}
/* line 60, ../sass/_grid.scss */
.g-col.ten {
  width: 83.33%;
}
/* line 63, ../sass/_grid.scss */
.g-col.eleven {
  width: 91.66%;
}
/* line 66, ../sass/_grid.scss */
.g-col.twelve {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  /* line 4, ../sass/_grid-responsive.scss */
  .g-col.appear {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 12, ../sass/_grid-responsive.scss */
  .g-col.appear {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  /* line 21, ../sass/_grid-responsive.scss */
  .g-col.stack {
    width: 100%;
    padding: 10px 2%;
  }
  /* line 26, ../sass/_grid-responsive.scss */
  .g-col.disappear {
    display: none;
  }
  /* line 30, ../sass/_grid-responsive.scss */
  .g-col.appear {
    display: block;
  }

  /* line 35, ../sass/_grid-responsive.scss */
  header {
    padding: 10px 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  /* line 4, ../sass/_grid-responsive.scss */
  .g-col.appear {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 12, ../sass/_grid-responsive.scss */
  .g-col.appear {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  /* line 21, ../sass/_grid-responsive.scss */
  .g-col.stack {
    width: 100%;
    padding: 10px 2%;
  }
  /* line 26, ../sass/_grid-responsive.scss */
  .g-col.disappear {
    display: none;
  }
  /* line 30, ../sass/_grid-responsive.scss */
  .g-col.appear {
    display: block;
  }

  /* line 35, ../sass/_grid-responsive.scss */
  header {
    padding: 10px 0 !important;
  }
}
@font-face {
  font-family: 'fightingspirit-regular';
  src: url("../fonts/fighting_spirit-webfont.eot");
  src: url("../fonts/fighting_spirit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fighting_spirit-webfont.woff") format("woff"), url("../fonts/fighting_spirit-webfont.ttf") format("truetype"), url("../fonts/fighting_spirit-webfont.svg#fighting_spirit_tbsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fightingspirit-bold';
  src: url("../fonts/fighting_spirit_bold-webfont.eot");
  src: url("../fonts/fighting_spirit_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fighting_spirit_bold-webfont.woff") format("woff"), url("../fonts/fighting_spirit_bold-webfont.ttf") format("truetype"), url("../fonts/fighting_spirit_bold-webfont.svg#fighting_spirit_tbsbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_typography.scss */
p, h1, h2, h3, h4, h5 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', Sans-Serif;
}

/* line 5, ../sass/_typography.scss */
p {
  font-size: 100%;
  line-height: 1.6em;
  margin: 1.6em 0;
}

/* line 12, ../sass/_typography.scss */
h1 a, h2 a, h3 a, h4 a {
  color: #555555;
  transition: color 0.3s ease;
}
/* line 16, ../sass/_typography.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #00e3e7 !important;
}

/* line 21, ../sass/_typography.scss */
h1 {
  font-size: 200%;
  line-height: 1.4em;
}

/* line 25, ../sass/_typography.scss */
h2 {
  font-size: 180%;
}

/* line 28, ../sass/_typography.scss */
h3 {
  font-size: 160%;
}

/* line 31, ../sass/_typography.scss */
h4 {
  font-size: 140%;
}

/* line 34, ../sass/_typography.scss */
h5 {
  font-size: 120%;
}

/* line 37, ../sass/_typography.scss */
a {
  color: #00e3e7;
  text-decoration: none;
}

/* line 41, ../sass/_typography.scss */
em, i {
  font-style: italic;
}

/* line 44, ../sass/_typography.scss */
strong, b {
  font-weight: 700;
}

/* line 1, ../sass/_header.scss */
header {
  padding: 40px 0;
  text-align: center;
}
/* line 3, ../sass/_header.scss */
header h1 {
  font-size: 300%;
  font-family: 'fightingspirit-bold';
  font-weight: bold;
  color: #00e3e7;
  text-shadow: 1px 1px 1px #000;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
}

/* line 1, ../sass/_cards.scss */
.card {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 2em;
  margin-bottom: 1.5em;
}
/* line 2, ../sass/_cards.scss */
.card.album, .card.mix {
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/_cards.scss */
.card.album img, .card.mix img {
  display: block;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}
/* line 10, ../sass/_cards.scss */
.card.album .title, .card.mix .title {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #dfdfdf;
}
/* line 17, ../sass/_cards.scss */
.card.album .title h1, .card.mix .title h1 {
  font-size: 100%;
}
/* line 19, ../sass/_cards.scss */
.card.album .title h1 a, .card.mix .title h1 a {
  color: #000;
}
/* line 23, ../sass/_cards.scss */
.card.album .title h2, .card.mix .title h2 {
  padding: 5px 0 0 0;
  font-size: 90%;
}
/* line 26, ../sass/_cards.scss */
.card.album .title h2 a, .card.mix .title h2 a {
  color: #000;
}
/* line 30, ../sass/_cards.scss */
.card.album .title h3, .card.mix .title h3 {
  padding: 5px 0 0 0;
  font-size: 80%;
  color: #888;
}
/* line 34, ../sass/_cards.scss */
.card.album .title h3 a, .card.mix .title h3 a {
  color: #888;
}
/* line 39, ../sass/_cards.scss */
.card.album .title a, .card.mix .title a {
  transition: color 0.3s ease;
}
/* line 42, ../sass/_cards.scss */
.card.album .title a:hover, .card.mix .title a:hover {
  color: #00e3e7;
}
/* line 46, ../sass/_cards.scss */
.card.album .excerpt, .card.mix .excerpt {
  min-height: 120px;
}
/* line 47, ../sass/_cards.scss */
.card.album .excerpt p, .card.mix .excerpt p {
  font-size: 85%;
  color: #555555;
  padding: 10px 20px;
  margin: 0;
  line-height: 1.4em;
}
/* line 54, ../sass/_cards.scss */
.card.album .excerpt a, .card.mix .excerpt a {
  font-size: 90%;
  padding: 0 20px;
}

/* line 1, ../sass/_ui.scss */
.album-list-row {
  margin: 0.5em 0;
}
/* line 5, ../sass/_ui.scss */
.album-list-row .g-col p {
  margin: 1em 0;
}

/* line 12, ../sass/_ui.scss */
ul.tax-list li {
  margin: 0.8em 0;
}
/* line 14, ../sass/_ui.scss */
ul.tax-list li a {
  color: #555555;
  transition: color 0.3s ease;
}
/* line 18, ../sass/_ui.scss */
ul.tax-list li a:hover {
  color: #00e3e7 !important;
}

/* line 2, ../sass/_footer.scss */
footer .center {
  text-align: center;
  color: #555555;
}
/* line 6, ../sass/_footer.scss */
footer .center span {
  display: block;
  margin: 10px 0;
}
/* line 11, ../sass/_footer.scss */
footer .g-row {
  margin: 20px 0;
}

/* line 18, ../sass/screen.scss */
body, html {
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: 'Hind', 'Open Sans', 'Helvetica Neue', 'Helvetica', Sans-Serif;
}

/* line 25, ../sass/screen.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/screen.scss */
img.full {
  width: 100%;
}
/* line 33, ../sass/screen.scss */
img.border {
  border: 1px solid #dfdfdf;
}
